<div class="hero hero--indigo">
    <div class="hero__content">
        <div class="container center-xs">
            <div class="row">
                <div class="col-md-4 col-xl-2">
                    <img style="max-height:150px" src="/static/web_app/public/img/globalnetwork.jpg">
                </div>
                <div class="col-md-8 col-xl-10">
                    <div class="flex-fluid">
                        <h1>This is a Template </h1>
                        <p class="text-large">Description
                        </p>
                        <p>
                            Another paragraph
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="section">
        <div class="panel panel--loose panel--bordered">
            <div class="row">
                <div class="col-md-8 text-large">
                    <h1 class="text-huge text-blue base-margin-bottom">UI Template</h1>
                    <p>This is a template for web UI using django, ansible and Cisco UI.</p>
                    <p>Go to https://devnet.cisco.com/site/uiux/ for more information and examples about Cisco UI.</p>
                    <p>Go to https://github.com/CiscoDevNet/CiscoUIKit to see all the code for Cisco UI.</p>
                        <img src="/static/web_app/public/img/ui-kit-collage.png" class="panel panel--bordered" width="600px">

                </div>
                <div class="col-md-4">
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                    <div class="panel panel--bordered animated fadeInRight dbl-margin-bottom text-center">
                        <br/>
                        <button class="btn btn--success" ng-click="sendExample()">Try API!</button>
                        <p>{a example.reply a}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>