<style>
.ul {
    -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
}
</style>
<div class="hero hero--indigo">
    <div class="hero__content">
        <div class="container center-xs">
            <div class="row">
                <div class="col-md-4 col-xl-2">
                    <img style="max-height:150px" src="/static/web_app/public/img/globalnetwork.jpg">
                </div>
                <div class="col-md-8 col-xl-10">
                    <div class="flex-fluid">
                        <h2>Evolved Programmable Network Manager</h2>
                        <h2>Inventory Usage Repor</h2>
                        <br>
                        <p class="text-large">Select a location listed below to view devices and associated hardware usage
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="section">
        <div class="panel panel--loose panel--bordered">
            <div class="row">
                <div class="col-md-8 text-large">
                    <h1 class="text-huge text-blue base-margin-bottom"><b>
                    Locations</b></h1>
                </div>
            </div>
            <table style="width: 100%">
                {% for item in list %}
                    {% cycle '<tr>' '' ''%}
                        <td class="text-large" style="padding: 15px 5%"><a href="{% url 'location' loc=item %}">{{ item }}</a></td>
                    {% cycle '' '' '</tr>' %}
                {% endfor %}
            </table>
        </div>
    </div>
</div>